@media (max-width: 768px) {
    /*Header*/
    .header nav a {
        font-size: 14px;
    }

    /*Hero*/
    .title {
        margin-top: 12vh;
    }
    .title h1 {
        font-size: 24px;
    }
    .title h2 {
        font-size: 18px;
    }
    .info-section {
        flex-direction: column;
    }
    .info-box {
        width: 90%;
    }
    .info-box img {
        width: 30px;
        margin-bottom: 0;
    }
    .info-box h3 {
        font-size: 18px;
    }
    .info-box p {
        font-size: 12px;
    }

}