@media (max-width: 1024px) {

    /*Header*/
    .header nav a {
        font-size: 16px;
    }

    /*Hero*/
    .title {
        margin-top: 12vh;
    }
    .title h1 {
        font-size: 60px;
    }
    .title h2 {
        font-size: 30px;
    }
    .info-section {
        gap: 25px;
    }
    .info-box {
        width: 30%;
    }
}